<h1 class="text-center mb-4">投稿一覧</h1>

<div class="d-flex justify-content-center jscroll">
  <div class="post-container">
    <% posts_to_display = @posts.is_a?(Array) ? @posts : @posts.order(created_at: :desc) %>
    <% posts_to_display.each do |post| %>
      <%= render 'public/posts/post', post: post %>
    <% end %>

    <% if @posts.respond_to?(:total_pages) %>
      <%= paginate @posts %>
    <% end %>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    $('.jscroll').jscroll({
      contentSelector: '.jscroll',
      nextSelector: '.next a',
      loadingHtml: '読み込み中',
      padding: 10
    });
  });
</script>
