<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<h1>Homes#top</h1>

<p>ホーム画面です</p>

<% if user_signed_in? %>
  <p>名前: <%= current_user.name %></p>
  <p>メールアドレス: <%= current_user.email %></p>
<% elsif admin_signed_in? %>
  <p>管理者としてログインしてます</p>
<% else %>
  <p>ログインしていません。</p>
<% end %>