<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<% if admin_signed_in? %>
  <p>管理者としてログインしてます</p>
<% end %>

<div class="centered-content">
    <%= image_tag 'logo.png', alt: 'サイトのロゴ', class: 'logo-size' %>
    <h2 class="site-intro-title">Active Meets</h2>
    <p class="site-intro-description">
      フィットネスとトレーニングの愛好家が集まるサイトです。<br>
      ここでトレーニングの成果を共有したり、他のメンバーと励まし合ったりできます。<br>
      トレーニングの記録や成果を共有することで、トレーニングがもっと楽しくなります。<br>
      Active Meetsで新しい友だちを見つけて、自分のフィットネスの旅を最高のものにしましょう！
    </p>
</div>
