<h1>ユーザー管理画面</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, admin_user_path(user) %></td> <!-- この行を変更 -->
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
